## Amostragem simples

Importando as bibliotecas, `pandas` para carregar arquivos .csv e `numpy` para gerar números aleatórios

In [1]:
import pandas as pd
import numpy as np

Carregando a base de dados e visualizando a mesma

In [2]:
base = pd.read_csv('https://raw.githubusercontent.com/audreyemmely/ds-udemy/master/EstatisticaI/dados/iris.csv')
base

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Verificando quantas linhas e colunas existem na base de dados

In [3]:
base.shape

(150, 5)

Mudança da semente aleatória randômica para manter os resultados em várias execuções

In [4]:
np.random.seed(2345)

150 amostras, de 0 a 1, com reposição, probabilidade equivalentes

In [5]:
amostra = np.random.choice(a = [0, 1], size = 150, replace = True, 
                           p = [0.7, 0.3])

Verificando o tamanho da amostra

In [6]:
len(amostra)

150

Verificando o tamanho da amostra para valores iguais a 1 e 0

In [9]:
len(amostra[amostra == 1])

49

In [8]:
len(amostra[amostra == 0])

101

In [10]:
base_final = base.loc[amostra == 0]
base_final.shape

(101, 5)