## Amostragem estratificada

Importando as bibliotecas, `pandas` para carregar arquivos .csv e `train_test_split` para divisão da base de dados (separar amostras)

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

Carregando a base de dados `iris` e contando quantos registros existem por classe

In [2]:
iris = pd.read_csv('https://raw.githubusercontent.com/audreyemmely/ds-udemy/master/EstatisticaI/dados/iris.csv')
iris['class'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: class, dtype: int64

In [3]:
X, _, y, _ = train_test_split(iris.iloc[:, 0:4], iris.iloc[:, 4],
                              test_size = 0.5, stratify = iris.iloc[:, 4])
y.value_counts()

# iris.iloc[:, 0:4] = buscamos somente os atributos previsores, ou seja, os dados sobre pétala e sépala da planta
# iris.iloc[:, 4] = buscamos somente a classe, que é a espécie da planta (virginica, setosa ou versicolor)
# test_size = selecionamos 50% da base de dados, que serão copiados para as variáveis X e y. Essa função retorna 4 valores, 
# porém, vamos usar somentes os 50% da base de dados e por isso colocamos "_" para os outros valores
# stratify = para retornar a amostra baseada na classe

Iris-setosa        25
Iris-virginica     25
Iris-versicolor    25
Name: class, dtype: int64

Carregando a base de dados `infert` e contando quantos registros existem por classe

In [4]:
infert = pd.read_csv('https://raw.githubusercontent.com/audreyemmely/ds-udemy/master/EstatisticaI/dados/infert.csv')
infert

     Unnamed: 0 education  age  ...  spontaneous  stratum  pooled.stratum
0             1    0-5yrs   26  ...            2        1               3
1             2    0-5yrs   42  ...            0        2               1
2             3    0-5yrs   39  ...            0        3               4
3             4    0-5yrs   34  ...            0        4               2
4             5   6-11yrs   35  ...            1        5              32
..          ...       ...  ...  ...          ...      ...             ...
243         244   12+ yrs   31  ...            1       79              45
244         245   12+ yrs   34  ...            0       80              47
245         246   12+ yrs   35  ...            0       81              54
246         247   12+ yrs   29  ...            1       82              43
247         248   12+ yrs   23  ...            1       83              40

[248 rows x 9 columns]

In [5]:
infert['education'].value_counts()

6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: education, dtype: int64

Criando a amostra com somente 40% dos registros (por isso é definido 0.6, pois é gerado o inverso)

In [6]:
X1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1],
                                test_size = 0.6, stratify = infert.iloc[:, 1])
y1.value_counts()

6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: education, dtype: int64